* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-mobile {
  display: none;
}
/* === NAVBAR === */
.navbar {
  background: #4b6b6a;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 4px solid #e8dfb6;
  border-image-slice: 1;
  padding: 0 40px;
}

/* Flexbox layout for logo and menu items */
.navbar__container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
}

/* Logo size */
.sc-logo {
  width: 160px;
  height: 90px;
}

/* Horizontal menu list inside navbar */
.navbar__menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

/* Individual menu item alignment */
.navbar__item {
  height: 80px;
  display: flex;
  align-items: center;
}

/* Styled navigation links with gradient text */
.navbar__links {
  background: #e8dfb6;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 14px;
  text-decoration: none;
  padding: 0.5rem;
}

/* Hover effect for nav links */
.navbar__links:hover {
  -webkit-text-fill-color: #cbbf97;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  text-decoration: underline #cbbf97;
}

/* Hamburger icon hidden by default */
.navbar__toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  height: 50px;
  width: 40px;
  margin-left: 0;
  margin-right: 5px;
  position: relative;
  visibility: hidden;
}

/* Hamburger bars */
.navbar__toggle .bar {
  height: 5px;
  width: 100%;
  background-color: #e8dfb6;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

/* Position top and bottom bars */
.navbar__toggle .bar:nth-child(1) {
  top: 25%;
}
.navbar__toggle .bar:nth-child(3) {
  top: 75%;
}

/* Active state (X icon) */

.navbar__toggle.active .bar:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.navbar__toggle.active .bar:nth-child(2) {
  opacity: 0;
}
.navbar__toggle.active .bar:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Off-screen menu for small screens (hidden initially) */
.off-screen {
  background-color: #4b6b6a;
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: left 0.5s ease-in-out;
  z-index: 998;
  border-right: 4px solid #e8dfb6;
  border-image-slice: 1;
  padding: 1rem 0;
  overflow-y: auto;
}

/* Show the off-screen menu by sliding it in */
.off-screen.active {
  left: 0;
  top: -10;
}

/*  */
.dropdown {
  position: relative;
}

.dropdown__menu {
  display: none;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  right: 0%;
  background-color: #2f4746;
  border-bottom: 1px solid #4b6b6a;
  min-width: 150px;
  flex-direction: column;
  list-style-type: none;
  z-index: 1000;
}

.dropdown__link {
  padding: 10px 15px;
  color: #e8dfb6;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  z-index: 0;
}

.dropdown__link:hover {
  background-color: #4b6b6a;
  color: white;
}

.dropdown:hover .dropdown__menu {
  display: flex;
}
/* Nested DropDown */

/* Position the nested submenu */
.dropdown__submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #2f4746;
  min-width: 150px;
  border-bottom: 1px solid #4b6b6a;
  flex-direction: column;
  list-style-type: none;

  z-index: 1001;
}

/* Show nested submenu on hover */
.dropdown:hover > .dropdown__submenu {
  display: flex;
}

/* Style links inside nested submenu */
.dropdown__submenu .dropdown__link {
  padding: 10px 15px;
  color: #e8dfb6;
  white-space: nowrap;
}

.dropdown__submenu .dropdown__link:hover {
  background-color: #4b6b6a;
  color: white;
}

.arrow {
  margin-left: 10px;
  font-size: 12px;
  transition: transform 0.3s ease;
  display: inline-block;
}

.dropdown:hover > .dropdown__link .arrow {
  transform: rotate(90deg);
  margin-left: 70px;
  transition: all 0.3s ease-in;
}

/* Style off-screen menu items */
.off-screen ul {
  list-style: none;
  padding: 0;
}

.off-screen .navbar__item {
  width: 100%;
  justify-content: start;
  padding: 1rem 0;
  font-size: 16px;
}

.off-screen .navbar__links {
  font-size: 20px;
}

/* Responsive adjustments for mobile screens */
@media screen and (max-width: 768px) {
  .navbar__container > .navbar__menu {
    display: none;
  }

  .navbar__toggle {
    display: flex;
    visibility: visible;
  }

  .off-screen.active {
    display: flex;
  }

  .off-screen .navbar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .navbar__menu {
    display: none;
  }
}

.container {
  margin-top: 5rem;
  position: relative;
  min-height: 100vh;
  background-color: #4b6b6a;
}

.container h1 {
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
  padding: 15px;
  color: #333;
  text-align: center;
  text-transform: capitalize;
}

.container .image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.container .image-container .image {
  /* height: 250px; */
  width: 350px;
  border: 10px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.container .image-container .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.container .image-container .image:hover img {
  transform: scale(1.1);
}

.container .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.container .popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}
.container span {
  margin-top: 100px;
}

.container .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .container .popup-image img {
    width: 95%;
  }
}
